.page {
    font-family: TT Lakes, serif;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F8F8F8;
}
main{
    height: 509px;
}
header{
    background-color:#FFFFFF ;
}
.header__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0;
    height: 70px;
}

.header__first-points{
    display: flex;

}
.header__second-points{
    display:flex;
    overflow: scroll;
    justify-content: space-between;
    width: 110px;
}
.header__second-points *{
    margin: 0 8px 0 8px;
}
.header__first-points *{
    margin: 0 8px 0 8px;
}
.head__name{
    border-top:1px solid #D9FFF5;
    height: 72px;
}
.head__name p {
    font-family: "TT Lakes", serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
    border-left:4px solid #41F6D7;
    color:#1B1C21;
    padding-left: 12px;
}
.micro__menu-container{
    width:320px;

}

.micro__menu{
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    height: 40px;
    width: 1450px;
    padding:0;
    list-style-type: none;
    overflow: scroll;

}
.micro__menu li p{
    font-family: "TT Lakes", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    color:#7E7E82;

}

.micro__menu li{
    min-width: 100px;
    border: 1px solid black;
    margin-left: 16px;
}
.micro__menu-active{

}

.content__container{

}
.content__container p{
    font-family: "TT Lakes", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    margin-left: 16px;
    margin-right: 16px;
}

.content__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 132px;
    height: 24px;
}

.content__btn img{
    flex-basis: 24px;
    flex-shrink:0;
    margin-left: 16px;
}
.content__btn p{
    flex-basis: 100px;
    flex-shrink:0;
    font-family: "TT Lakes", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
}

a img {
    margin-top: 15px;
    margin-bottom: 7px;
}
@media (min-width: 320px) {
    .page {
        max-width: 320px;
    }
    .header__element-divider,
    .header__element-divider3{
        display:none;
    }
    .content__text-second {
        display: none;
    }
}

@media (min-width: 768px) {
    .page {
        max-width: 768px;
        max-height: 504px;
    }


    .header__inner{
        height: 88px;
        width: 768px;
        justify-content: space-between;

    }

    .header__first-points{
        padding-left: 24px;
        align-items: center;
        width: auto;
        justify-content: flex-start;
    }
    .header__second-points {
        padding-right: 24px;
        align-items: center;
        width: auto;
        justify-content: flex-end ;
    }
    .header__element-divider,
    .header__element-divider3{
        display: block;
    }
    .header__element-divider2{
        display: none;
    }

    .content__container{
        display:flex;
        width: 720px;
        height: 208px;
        justify-content: space-between;
        margin-left: 25px;
        margin-right: 25px;
    }
    .content__text-second {
        display: block;
    }
    .content__container-first{
        width: 312px;
    }
    a img{
        flex-basis: 50%;
        margin:0;
    }
    .content__text-first{
        margin:0;
    }
    .content__container p{
        margin-left: 0;
        margin-right: 0;
    }
    .content__btn img {
    padding-right: 10px;
    margin-left:0;
    }
}


@media (min-width: 1120px) {
    .page {
        max-width: 1120px;
    }
    .header__inner{
        display: none;
    }
    .content__container{
        width: 1220px;
        height: 208px;
    }
    .content__text-second {
        display: block;
    }
    .content__container-first{
        width: 312px;
    }
}

